* {
    margin: 0;
    padding: 0;
}


a, a:visited {
    color: #f6f9ff;
}

h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1rem;
}


ul.no-bullet {
    list-style-type: none;
    padding: 0;
}

.basic .no-bullet li {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    font-size: 13px;
}
p {
    font-size: 15px;
}

ul.no-bullet i {
    margin-right: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

header,
section,
section>div {
    padding: .5rem 1rem;
}

/* Header Styles */
header.basic {
    background-color: #3ca4e9;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
}



/* Section Styles */
section {
    padding: .5rem;
}
.skills h2 {
    margin-bottom: 1rem;
}
.skills ul li {
    margin-top: 5px;
}


/* Experience Section Styles */
.experience h3 {
    color: #3498db;
}

.projects li {
    margin-bottom: 10px;
}

/* Personal Projects Section Styles */
.personalprojects h1 {
    color: #3498db;
}