* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}
.container .left-side {
    background-color: #eff6ef;
}

.container .right-side {
    padding: 10px;
}

a:link, a:active, a:visited, a:hover{
    color:#0c42b0
}

.basic a:link, 
.basic a:active, 
.basic a:visited, 
.basic a:hover{
    color:#fff;
}

h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1rem;
}


ul.no-bullet {
    list-style-type: none;
}

.basic .no-bullet li {
    display: flex;
    gap: 5px;
    margin-top: 8px;
    font-size: 13px;
}
p {
    font-size: 15px;
}

ul.no-bullet i {
    margin-right: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

header,
section,
section>div {
    padding: .5rem 1rem;
}

/* Header Styles */
header.basic {
    background-color: #375637;
    color: #fff;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
}



/* Section Styles */
section {
    padding: .4rem;
}
.skills .no-bullet {
    margin-bottom: 2rem;
}
.skills ul li {
    margin-top: 5px;
}


/* Experience Section Styles */
.experience h3 {
    color: #3498db;
}

.projects li {
    margin-bottom: 5px;
}

/* Personal Projects Section Styles */
.personalprojects h1 {
    color: #3498db;
}